@media screen and (max-width : 600px) {

    html, body{
        overflow-x: hidden;
    }

    .logo img{
        height: 100px;
        width: 150px;
    }

    .about_heading {
        padding:52px;
        font-weight:700;
        font-size: 2.1rem;
        font-size: 40px;
        line-height: 3.2rem;
        text-align: center;
    }

    .membership{
    font-size: 1.5rem;
    }

    .watch {
        padding: 30px;
        font-size: 2rem;
        text-align: center;
    }

    .address{
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    .add1{
        width: 50%;
        margin: auto;
        border-color: rgba(0, 0, 0, 0);
        height: 50px;
    }

    .get_start button{
        padding: 20px 25px;
        font-size: 50px;
    }

    /* pane2 start-------- */
    .panel_2{
        border-bottom: 10px solid rgb(35,35,35);
        
    }

    .movie{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        width: 100%;
    }
    .intro_tv{
        padding: 10px;
        text-align: center;
    }

    .movie img{
        height: 400px;
        width: 500px;
    }

    .movie_video{
        position: absolute;
        height: 203px;
        width: 393px;
        top: 124%;
        left: 100px;
    }

    ._3ardc{
        top: 186%;
        left: 152px;
        height: 191px;
        width: 290px;
    }
    /* panel2 end---------- */


    /* panel3start------- */
    
    .panel_3{
        padding: none;
    }

    .movie_1{
        flex-direction: column-reverse;
        flex-wrap: nowrap;
        
    }

    .shows{
        padding:0px 10px;
        
        text-align: center;
    }

    .shows p{
        font-weight: 400;
        padding: none;
    }

    /* .mobile_panel_3{
        margin-right: auto;
        margin-left: auto;
    }  */
    
    .intro_shows{
        font-weight: 900; 
         line-height: 2.3rem;
    }

    .doctor_strange{
        position: absolute;
        left: 107px;
        top: 260%;
        height: 109px;  
    }

    .boxshot{
        height: 50px;
        width: 50px;
    }
    /* panel 3 end------ */

    .everywhere{
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
    }

    .unlimited{
        padding: 0px 0px 0px 0px;
        text-align: center;
    }
    
    .footer{
        flex-direction: column
         ;
        text-align: center;
    }

    
}